<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolfix</title>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
    <!-- style.css -->
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <div id="app">
        <div>
            <input type="search" name="" id="" v-model="userInput">
            <button
            @click="showInputResults(userInput)"
            >CERCA</button>
        </div>

        <!-- FILMS -->
        <div id="films" v-for="film in filmsByInput" >
            <div>
                <h2>{{film.title}}</h2>
                <h3>{{film.original_title}}</h3>
                <p> Lingua: </p> 

                <img v-if="film.original_language == 'en' "  src="./assets/img/en.png" alt="" class="flag">
                <img v-else-if="film.original_language == 'ko'" src="./assets/img/ko.png" alt="">
                <img v-else-if="film.original_language == 'ja'" src="./assets/img/ja.png" alt="">
                <img v-else-if="film.original_language == 'da'" src="./assets/img/da.png" alt="">
                <img v-else :src="film.flag" alt="">
                <br>

                <i v-for ="star in film.stars" class="fas fa-star"></i><i v-for ="starsEmpty in 5 - film.stars" class="far fa-star"></i>

                <img :src="film.poster" alt="">
                
                <br>
                <br>
            </div>
        </div>
        <!-- ///FILMS -->


        <!-- TV SERIES -->
        <div id="tv_series" v-for="tvserie in tvSeriesByInput" >
            <div>
                <h2>{{tvserie.name}}</h2>
                <h3>{{tvserie.original_name}}</h3>
                <p> Lingua: </p> 

                <img v-if="tvserie.original_language == 'en' "  src="./assets/img/en.png" alt="" class="flag">
                <img v-else-if="tvserie.original_language == 'ko'" src="./assets/img/ko.png" alt="">
                <img v-else-if="tvserie.original_language == 'ja'" src="./assets/img/ja.png" alt="">
                <img v-else-if="tvserie.original_language == 'da'" src="./assets/img/da.png" alt="">
                <img v-else :src="tvserie.flag" alt="">
                <br>

                <i v-for ="star in tvserie.stars" class="fas fa-star"></i><i v-for ="starsEmpty in 5 - tvserie.stars" class="far fa-star"></i>

                <img :src="tvserie.poster" alt="">

                
                <br>
                <br>
            </div>
        </div>

            <!-- ///TV SERIES -->

        

       



    </div>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- js -->
    <script src="./assets/js/main.js"></script>
</body>
</html>